body {
    background-color: #AAD4CF;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;

    background-color: #dff2ef;
}

nav ul li {
    list-style: none;

    display: block;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0cm;
    padding: 0%;





}


#navigation {

    position: absolute;
    top: 352px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 100%;





}

#navigation li {

    margin: 50px;
    display: inline;
    padding-top: 0;
    position: relative;
    border-right: 1px solid black;
    padding-right:120px;

}

#navigation li:last-child{
    border-right:none;
  
}

 
 

.image-1 {
    position: absolute;
}

h1 {

    background: url(../images/lone-starfish-wide.jpg) no-repeat center;
    background-size: cover;
    font-size: 3rem;
    font-weight: 400;
    color: white;

    padding-top: 198px;
    padding-left: 210px;
    padding-bottom: 80px;
    padding-right: 220px;
    text-align: center;
    text-transform: capitalize;
}

.small-image {
    float: left;
    width: 210px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;
}

p {
    font-size: 15px;
    margin-left: 10px;
}

h2 {
    text-align: left;
    font-size: 34px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 10px;

}

.types {

    position: relative;
    padding-left: 22px;
}

h3 {
    
    font-size: 27px;
    font-weight: 300;
    margin-left: 10px;

}

 

h4 {
    font-weight: 200;
     
}

.container-2 {
    border: 1px solid black;
    padding-left: 14px;
    margin: 0px 13px;

}

.form {
    padding-top: 30px;

}

.name {
    padding-top: 11px;
    padding-bottom: 6px;
    text-transform: capitalize;
}

.nameform {
    padding-bottom: 11px;
    width: 390px;
}

.email {
    padding-top: 11px;
    padding-bottom: 6px;
    text-transform: capitalize;
}

.emailform {
    padding-bottom: 11px;
}

.message {
    padding-top: 11px;
    padding-bottom: 6px;
    text-transform: capitalize;
}



.btn {
    padding: 16px 16px;
    background-color: #dff2ef;
    text-transform: uppercase;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;

}

.btn:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: #AAD4CF;
    color: white;
}

.copyright {

    margin-top: 30px;
    padding-bottom: 30px;
    margin-left: 750px;
    text-transform: capitalize;
}